/*去掉标签的默认的样式*/
body,h1,h2,h3,h4,h5,h6,p,pre,ul,ol,li,form,input,textarea,dl,dt,dd{
     margin:0;
	 padding:0;
}
ul,ol{
    list-style:none;
}
a{
    text-decoration:none;
}
body{
background:#fff;    /*#fff,代表白色*/
}
*{
font-family:"微软雅黑","宋体",sans-serif;
}
